.infoContainer{
    display: flex;
    justify-content: space-between;
}

#host{
    display: flex;
    margin-top: 40px;
}

#collapseLogement{
    display: flex;
}

.title{
    font-size: 36px;
    color: #FF6060;
    margin-bottom: 0;
    margin-top: 40px;
}

.city{
    font-size: 18px;
    color: #FF6060;
    margin-top: 5;
}

#tags{
    display: flex;
}

.tags{
    margin-right: 10px;
    background: #FF6060;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    text-align: center;
    width:fit-content;
    max-height: 30px;
    padding: 5px 30px 5px 30px;
}

#host {
    display: flex;
    justify-content:flex-start;
}

.hostPdp{
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.hostName{
    font-size: 18px;
    display: flex;
    text-align: right;
    color: #FF6060;
    margin-right: 15px;
    margin-top: 5px;
}

#rating{
    display: flex;
    justify-content: flex-end;
}

.star{
    margin-top: 25px;
    margin-left: 10px;
}

.color{
    fill: #E3E3E3;
}

.equipmentList{
    list-style-type: none;
    padding-left: 10px;
    margin: 3px;
}

#space{
    width: 15%;
}

@media screen and (max-width : 950px){
    .infoContainer{
        flex-direction: column;
    }

    #hostAndRating{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
    }

    #collapseLogement{
        flex-direction: column;
    }

    .hostPdp{
        width: 60px;
        height: 60px;
        border-radius: 100px;
    }
    .star{
        width: 20px;
        height: 18px;
        margin-top: 35px;
        margin-left: 10px;
    }

}

@media screen and (max-width : 600px){
    .tags{
        font-size: 10px;
        padding: 5px 18px 5px 18px;
        margin-right: 8px;
    }


    .title{
        font-size: 24px;
        margin-top: 20px;
    }

    .city{
        font-size: 14px;
        margin-bottom: 20px;
        margin-top: 5px;
    }
}

@media screen and (max-width : 400px){
    .tags{
        font-size: 8px;
        padding: 5px 15px 5px 15px;
        margin-right: 5px;
    }

    .star{
        width: 12%;
        height: 15px;
        margin-top: 20px;
        margin-left: 5px;
    }
    .hostName{
        font-size: 16px;
    }

    .hostPdp{
        width: 50px;
        height: 50px;
        border-radius: 100px;
    }
    
    #host{
        margin-top: 20px;
    }
    .title{
        margin-top: 20px;
    }
    #tags{
        display: flex;
        justify-content: start;
    }
}

@media screen and (max-width : 300px){
    .tags{
        padding: 5px 10px 5px 10px;
        margin-right: 5px;
    }
}