#banner{
    width: 100%;
    height: 300px;
    margin-top: 60px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../public/imgBanner.jpg) center/cover;
    background-position: right 50% bottom 50%;
    border-radius: 25px;
    position: relative;
}

.bannerTxt{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: white;
    position: absolute;
    top: 40%;
    left: calc(50% - 705px/2 + 5.5px);
}