.page {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 60px;
}

*{
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width : 950px){
    .page {
      margin-left: 75px;
      margin-right: 75px;
      margin-top: 37px;
    }
  }