header {
    display: flex;
    justify-content: space-between;
}

.navigation {
    text-decoration: none;
    color: #FF6060;
    margin-left: 60px;
    list-style: none;
    font-size: 24px;
    &:hover {
        border-bottom: 2px solid #FF6060;
    }
}

#nav ul{
    display: flex;
}

#logo img{
    width: 210px;
    height: 70px;
}