.carouselImg {
    margin-top: 50px;
    width: 100%;
    height: 480px;
    object-fit: cover;
    z-index: 1;
    border-radius: 10px;
}


.carousel{
    position: relative;
}

.left-arrow{
    position: absolute;
    z-index: 2;
    left: 0;
    top: 55%;
    transform: rotate(-90deg);
    margin-left: 10px;
}

.right-arrow{
    position: absolute;
    z-index: 2;
    right: 0;
    top: 55%;
    transform: rotate(90deg);
    margin-right: 10px;
}

.counter{
    position: absolute;
    left: 49%;
    bottom: 15px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
}

@media screen and (max-width : 950px){
    .carouselImg{
        height: 280px;
    }
}

@media screen and (max-width : 400px){
    .carouselImg{
        margin-top: 20px;
    }
}